/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body {
 margin: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    
}
.menuButton{
    width: 20vw;
}

.topLogo{
    width: 30vw;
}

.coverImage{
    width:100vw;
    
}

.imageToFlex{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    

}

.imageToFlex img {
    
    width: 100vw;
    border-bottom: 1px solid grey;
    margin-bottom: 5vw;
    padding-bottom: 5vw;
    margin-top: 5vw;
    padding-top: 5vw;


}

.button{
    background-color: rgb(54, 54, 193);
    text-align: center;
    color: white;
    width: 90vw;
    height: 10vh;
    
}

.emailContainer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    
    
}


header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
}